Flask==1.1.1
wagtail-2fa==1.2.0
ecdsa==0.13.2
postfix-mta-sts-resolver==0.5.0
invenio-previewer==1.0.0a11
rply==0.7.3
limnoria==2019.10.22
matrix-synapse==1.4.1
keyring==0.9.3
reportlab==3.5.42
sqlalchemy==1.2.17
rediswrapper==0.3.0
elastic-apm==5.0.0
django-js-reverse==0.9.0
httpie==1.0.2
django-rest-registration==0.4.5
novajoin==1.1.0
thrift==0.11.0
diffoscope==76
